*{
    box-sizing: border-box;
}

.topic-heading{
    text-align: center;
    background-color: aqua;
    padding: 10px 5px;
    border-radius: 10px; 
    margin-bottom: 2px;
}

header h1{
    text-transform: uppercase;
}

main{
    border-radius: 15px;
    padding: 20px;
}

#basic-procets{
    color: red;
}

.Advanced-project{
    color: blue;
}

.events-handaller{
    padding: 20px 10px;
}




footer{
    color: black;
    padding: 5px 0px;
    text-align: center;
    background-color: rgb(197, 197, 197);
}